<h1>Мой список дел</h1>
<a href="{% url 'task-create' %}">Добавить задачу</a>

<table>
    <tr>
        <th>Пункт</th>
        <th></th>
        <th></th>

    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}" >View</a></td>
        <td><a href="{% url 'task-update' task.id %}" >Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}" >Delete</a></td>

    </tr>
    {% empty %}
    <h3>Список пуст</h3>
    {% endfor %}
</table>